# hide credentials
bot/credentials*.yml
bot/endpoints.yml

# rasa cache folder
bot/.rasa/

# vscode temp files
.vscode/

# trained models
bot/models/*

# python cache
bot/actions/__pycache__/

# python venv
venv/

# playground (local tests)
playground
