# hide credentials
bot/credentials_dev.yml
ngrok/ngrok.yml

# rasa cache folder
bot/.rasa/
bot/.keras/
bot/.config/

# vscode temp files
.vscode/

# python cache
bot/actions/__pycache__/

# python venv
venv/

# playground (local tests)
playground

# ngrok log
ngrok/ngrok.log
